#sb_group{
  width: 25%;
  float: left;
}

.super_button{
  border-radius: 15px;
  margin: 30px auto;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  font-family: Arial;
  background: #333;
  color: #EEEEEE;
  display: none;
}

@-webkit-keyframes rotate_mill {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
    opacity: 1;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotate_mill {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
    opacity: 1;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotate_mill{
    -webkit-animation-name: rotate_mill;
    animation-name: rotate_mill;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#plus_btn{
    float: left;
    width: 75px;
    height: 75px;
}

.animated0 {
  -webkit-animation-duration: 0.20s;
  animation-duration: 0.20s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
